<!DOCTYPE>
<div class='instructions'>
  <h1>Supercalifragilistic SimpliStiQification</h1>
  <h2>Go ahead and click around a bit!</h2>
  <p style='text-align: center;'>but don't even think about dragging :)</p>
</div>

<div class='control-panel'>
  <button class='btn btn-primary' onclick="addNote()">Add Note</button>
  <button class='btn btn-warning' onclick="addWeatherNote()">Add Weather Note</button>
</div>

<div class='note-workspace'></div>

<script src='/home/storage.js'></script>
<script src='/home/noteRenderer.js'></script>
<script src='/home/noteControl.js'></script>
<script src='/home/listeners.js'></script>
<script src='/home/weather.js'></script>
<script src='/home/main.js'></script>

<%#= javascript_include_tag 'storage', 'noteRenderer', 'noteControl', 'listeners' %>
